.place-order{
display: block;
align-items: start;
justify-content: space-between;
margin-top: 100px;
flex-direction: column; /* Stack on mobile */
gap: 30px; /* Reduce gap for smaller screens */
  position: relative;
  z-index: 1;
}
.placeorder-left{
  width: 100%;
  max-width: max(30%,500px);
}
.placeorder-left .title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
}
.placeorder-left input{
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #c5c5c5;
  border-radius: 4px;
  outline-color: tomato;
}
.placeorder-left .multi-fields{
  display: flex;
  gap: 10px;
}
.placeorder-left input{

}
.placeorder-right{
  width: 100%;
  max-width: max(40%,500px);
}
.place-order .cart-total button{
  margin-top: 30px;
}
@media (min-width: 600px) {
  .place-order {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}
