/* Header Container */
.header {
  width: 100%;
  min-height: 100vh; /* Ensures full screen height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay */
  margin: 0;
  padding: 0;
  z-index: 1;
}

/* Background Image */
.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;  /* Ensures it covers the full area */
  background-position: center;
  background-repeat: no-repeat;
  transition: background-image 1s ease-in-out;
}

/* Header Content */
.header-contents {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 70%;
  align-items: center;  /* Horizontally center content */
  margin: 0 auto; /* Ensure container itself is centered */
}

/* button */

.button-container {
  text-align: center; /* Center the button within this container */
  justify-content: center; /* Center horizontally */
}

.btn {
  display: block; /* Change to block to enable margin auto centering */
  width: 200px; /* Define a specific width */
  margin: 20px auto; /* Center horizontally */
  padding: 15px 40px;
  border: none;
  outline: none;
  color: black;
  background-color: white;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  left: 0;
  top: 0;
  border-radius: 15px;
  color: black;
 
}
/* glow */
.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {  /* Tablets (iPad) */
  .header-contents p {
    display: none;
  }
  .header-contents {
    max-width: 60%;
  }
}

@media (max-width: 768px) {  /* Mobile Devices */
  .header {
    min-height: 80vh;  /* Adjust height */
  }
  .header-image {
    background-size: cover;  /* Ensures full coverage */
  }
  .header-contents {
    max-width: 90%;
  }
}

@media (max-width: 480px) {  /* Extra Small Devices */
  .header {
    min-height: 100vh; /* Force full screen */
  }
  .header-contents h2 {
    font-size: 20px;
  }
  .header-contents {
    padding: 10px;
  }
}
